<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<div th:fragment="content">
<h1>Zaloguj</h1>
<form action="#" method="post" th:action="@{/signin}" th:object="${SignInForm}">
    <div id = "email">
        <input type="text" placeholder="Nazwa użytkownika" th:field="*{email}"/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email name errors</p>
    </div>
    <div id = username>
        <input type="text" placeholder="Nazwa użytkownika" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Username name errors</p>
    </div>
    <div id = pass>
        <input type="password" placeholder="Hasło" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password errors</p>
    </div>
    <div id = button>
        <input type="submit" value="Zaloguj"/>
    </div>
</form>
</div>
</body>
</html>